

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    font-size: 25px;
}

.game1 , .game2, .game3{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.score-multiplier p, .diff-modifier p{
    display:inline;
}

.diff-modifier input{
    display: flex;
}

.options{
    background-color: pink;
    height: 90vh;
    overflow-y: scroll;
    padding:3px;
    box-shadow: 1px 1px 1px 1px black;
}

body{
    display:flex;
    flex-direction: row-reverse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 0;
}